<div class="navbar d-flex justify-content-between py-3">
  <div class="d-flex align-items-center">
    <div>
      <svg-icon
        src="assets/svg/icons/r-arrow.svg"
        class="mx-3 arrow-btn"
        [svgStyle]="{ width: 20, height: 20, fill: '#626470' }"
      ></svg-icon>
    </div>
    <div class="mx-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn" type="button">
            <svg-icon
              src="assets/svg/icons/search.svg"
              [svgStyle]="{ width: 20, height: 20, fill: '#626470' }"
            ></svg-icon>
          </button>
        </div>
        <input type="text" class="form-control" placeholder="Search..." />

        <div class="input-group-append">
          <button class="btn" type="button">
            <svg-icon
              src="assets/svg/icons/microphone.svg"
              [svgStyle]="{ width: 20, height: 20, fill: '#626470' }"
            ></svg-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
