#side-bar {
  width: 280px;
  background-color: #222328;
  height: 100vh;
  border-right: 2px solid #1e1e22;
}

.custom-container {
  width: 80%;
  margin: auto;
}

.brand {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.brand span:last-child {
  color: #d82028;
}

.side-bar-title {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.list-group-item {
  background-color: transparent;
  border: 0;
  color: #626470;
  padding: 0;
  font-size: 0.9em;
  font-weight: 600;
}

.list-group {
  gap: 20px;
}

.list-group-item svg-icon {
  fill: #626470;
  transition: all 0.4s ease-in-out;
}

.item {
  gap: 16px;
}

.list-group {
  position: relative;
}

.list-group-item-active span {
  color: #f5f5f5;
  transition: all 0.4s ease-in-out;
}

.list-group-item-active svg-icon {
  fill: #d82028;
}

.list-group-item-active:after {
  content: "";
  width: 4.5px;
  height: 20px;
  top: 15%;
  left: 5px;
  border-radius: 5px;
  background-color: #d82028;
  position: absolute;
  transition: all 0.4s ease-in-out;
}
